@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
.container {
  max-width: 960px;
  margin: 0 15px; }
  @media (min-width: 641px) {
    .container {
      margin: 0 30px; } }
  @media (min-width: 1020px) {
    .container {
      margin: 0 auto; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
main {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 640px) {
    main {
      font-size: 16px;
      line-height: 1.25; } }

.font-xxlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-xxlarge {
      font-size: 53px;
      line-height: 1.03774; } }

.font-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-xlarge {
      font-size: 32px;
      line-height: 1.09375; } }

.font-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-large {
      font-size: 24px;
      line-height: 1.04167; } }

.font-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-medium {
      font-size: 18px;
      line-height: 1.2; } }

.font-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-small {
      font-size: 16px;
      line-height: 1.25; } }

.font-xsmall {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-xsmall {
      font-size: 14px;
      line-height: 1.14286; } }

.bold-xxlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 80px;
  line-height: 1;
  font-weight: 700;
  text-transform: none; }
  @media (max-width: 640px) {
    .bold-xxlarge {
      font-size: 53px;
      line-height: 1.03774; } }

.bold-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 700;
  text-transform: none; }
  @media (max-width: 640px) {
    .bold-xlarge {
      font-size: 32px;
      line-height: 1.09375; } }

.bold-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 700;
  text-transform: none; }
  @media (max-width: 640px) {
    .bold-large {
      font-size: 24px;
      line-height: 1.04167; } }

.bold-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none; }
  @media (max-width: 640px) {
    .bold-medium {
      font-size: 18px;
      line-height: 1.2; } }

.bold-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 700;
  text-transform: none; }
  @media (max-width: 640px) {
    .bold-small {
      font-size: 16px;
      line-height: 1.25; } }

.bold-xsmall {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none; }
  @media (max-width: 640px) {
    .bold-xsmall {
      font-size: 14px;
      line-height: 1.14286; } }

.heading-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 700;
  text-transform: none;
  margin-top: em(15, 32);
  margin-bottom: em(30, 32); }
  @media (max-width: 640px) {
    .heading-xlarge {
      font-size: 32px;
      line-height: 1.09375; } }
  @media (min-width: 641px) {
    .heading-xlarge {
      margin-top: em(30, 48);
      margin-bottom: em(60, 48); } }
  .heading-xlarge .heading-secondary {
    font-family: "nta", Arial, sans-serif;
    font-size: 27px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    padding-top: 8px;
    padding-bottom: 7px;
    display: block;
    color: #6f777b; }
    @media (max-width: 640px) {
      .heading-xlarge .heading-secondary {
        font-size: 20px;
        line-height: 1.11111; } }
    @media (min-width: 641px) {
      .heading-xlarge .heading-secondary {
        padding-top: 4px;
        padding-bottom: 6px; } }

.heading-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 700;
  text-transform: none;
  margin-top: em(25, 24);
  margin-bottom: em(10, 24); }
  @media (max-width: 640px) {
    .heading-large {
      font-size: 24px;
      line-height: 1.04167; } }
  @media (min-width: 641px) {
    .heading-large {
      margin-top: em(45, 36);
      margin-bottom: em(20, 36); } }
  .heading-large .heading-secondary {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    padding-top: 9px;
    padding-bottom: 6px;
    display: block;
    color: #6f777b; }
    @media (max-width: 640px) {
      .heading-large .heading-secondary {
        font-size: 18px;
        line-height: 1.2; } }
    @media (min-width: 641px) {
      .heading-large .heading-secondary {
        padding-top: 6px;
        padding-bottom: 4px; } }

.heading-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  margin-top: em(25, 20);
  margin-bottom: em(10, 20); }
  @media (max-width: 640px) {
    .heading-medium {
      font-size: 18px;
      line-height: 1.2; } }
  @media (min-width: 641px) {
    .heading-medium {
      margin-top: em(45, 24);
      margin-bottom: em(20, 24); } }

.heading-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 700;
  text-transform: none;
  margin-top: em(10, 16);
  margin-bottom: em(5, 16); }
  @media (max-width: 640px) {
    .heading-small {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .heading-small {
      margin-top: em(20, 19); } }

p {
  margin-top: em(5, 16);
  margin-bottom: em(20, 16); }
  @media (min-width: 641px) {
    p {
      margin-top: em(5);
      margin-bottom: em(20); } }

.lede {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .lede {
      font-size: 18px;
      line-height: 1.2; } }

.text {
  max-width: 30em; }

.text-secondary {
  color: #6f777b; }

.link {
  color: #005ea5;
  text-decoration: underline; }

.link:visited {
  color: #4c2c92; }

.link:hover {
  color: #2e8aca; }

.link:active {
  color: #005ea5; }

pre,
code {
  font-size: 13px;
  line-height: 19px;
  color: #0b0c0c;
  background-color: #f8f8f8;
  border: 1px solid #bfc1c3;
  padding: 3px 7px; }

/**
 * MoJ Template Overrides/tweaks
 */
#global-header .header-proposition a#proposition-name:hover {
  text-decoration: none; }

.phase-banner {
  padding: 10px 0 8px 0;
  border-bottom: 1px solid #bfc1c3; }
  @media (min-width: 641px) {
    .phase-banner {
      padding-bottom: 10px; } }
  .phase-banner p {
    margin: 0;
    color: #000;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none; }
    @media (max-width: 640px) {
      .phase-banner p {
        font-size: 14px;
        line-height: 1.14286; } }
  .phase-banner .phase-tag {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    text-transform: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #d53880; }
    @media (min-width: 641px) {
      .phase-banner .phase-tag {
        vertical-align: baseline; } }
    @media (max-width: 640px) {
      .phase-banner .phase-tag {
        font-size: 14px;
        line-height: 1.14286; } }
  .phase-banner span {
    display: -moz-inline-stack;
    display: inline-block;
    width: 75%;
    vertical-align: top; }
    @media (min-width: 641px) {
      .phase-banner span {
        width: auto;
        vertical-align: baseline; } }

.footer-meta p {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .footer-meta p {
      font-size: 14px;
      line-height: 1.14286; } }

.container {
  min-height: 400px; }

.phase-banner .phase-tag {
  vertical-align: baseline; }

/*# sourceMappingURL=app.css.map */
