---
pageTitle: Number input test
---

<header class="page-header">
  <h1>Number inputs test</h1>
</header>

<form action="" method="get">

  <hr>

  <h2 class="heading-large">Text inputs: type="text"</h2>
  
  <div class="form-group">
      <label for="text_1">
          <span class="label-text">1. type="text"</span>
      </label>

      <div class="form-field">
        <input id="text_1" class="form-control" name="text_1" type="text">
        <code class="value"></code>
      </div>
  </div>

  <div class="form-group">
      <label for="text_2">
          <span class="label-text">2. type="text" pattern="\d*"</span>
      </label>

      <div class="form-field">
        <input id="text_2" class="form-control" name="text_2" type="text" pattern="\d*">
        <code class="value"></code>
      </div>
  </div>

  <hr>

  <h2 class="heading-large">Number inputs: type="number"</h2>

  <div class="form-group">
      <label for="number_1">
          <span class="label-text">1. type="number"</span>
      </label>

      <div class="form-field">
        <input id="number_1" class="form-control" name="number_1" type="number">
        <code class="value"></code>
      </div>
  </div>

  <div class="form-group">
      <label for="number_2">
          <span class="label-text">2. type="number" pattern="\d*"</span>
      </label>

      <div class="form-field">
        <input id="number_2" class="form-control" name="number_2" type="number" pattern="\d*">
        <code class="value"></code>
      </div>
  </div>

  <hr>

  <h2 class="heading-large">tel inputs: type="tel"</h2>

  <div class="form-group">
      <label for="tel_1">
          <span class="label-text">1. type="tel"</span>
      </label>

      <div class="form-field">
        <input id="tel_1" class="form-control" name="tel_1" type="tel">
        <code class="value"></code>
      </div>
  </div>

  <div class="form-group">
      <label for="tel_2">
          <span class="label-text">2. type="tel" pattern="\d*"</span>
      </label>

      <div class="form-field">
        <input id="tel_2" class="form-control" name="tel_2" type="tel" pattern="\d*">
        <code class="value"></code>
      </div>
  </div>

</form>

<script>

var inputs = document.getElementsByTagName('input');

for (var i = 0; i < inputs.length; i++) {
  inputs[i].addEventListener('keyup',displayValue,false);
}

function displayValue() {
  this.nextElementSibling.innerHTML = this.value;
}
</script>